.aplayer .aplayer-controller{
	background: black;
}

.aplayer .aplayer-lrc:before{
	background: black;
}

.aplayer .aplayer-lrc:after{
	background: black;
}

.aplayer {
	background: black;
}
.aplayer .aplayer-lrc:before{
	background: black;
}



