$color-background = #1d1f21
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-scrollbar = #999
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-link = rgba(212, 128, 170, 1)
$color-text = #c9cacc
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #2bbc8a
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"

.aplayer-list-light
	background: #252d38

.aplayer .aplayer-lrc:before
	background: #252d38

.aplayer .aplayer-lrc:after
	background: #252d38;

.aplayer
	background: #252d38;

.aplayer .aplayer-list ol li.aplayer-list-light
	background: #252d38

.aplayer .aplayer-list ol li:hover
	background: gray

.aplayer .aplayer-list ol li
	border-top: #252d38

.aplayer .aplayer-lrc:before
	height: 4%

.aplayer .aplayer-lrc:after
	height: 2%

iframe
	filter: invert(100%)




